.contenidoLogin{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/public/fondo.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}


.tab-content {
    margin-top: 5%;
    margin-bottom: 5%;
}

form{
    margin-top: 0% !important;
    margin-bottom: 0% !important;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
    border: 2px solid transparent;
    border-radius: 25px;        
}

.negrita{
    font-weight: 900;
}