/* Estilos para el encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
  }
  
  .logo h1 {
    color: #fff;
    margin: 0;
  }
  
  .userDisplay {
    font-size: 1.2rem;
    color: #fff;
    margin: 0;
    text-align: right;
  }
  
  /* Estilos para el formulario */
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4rem);
    padding: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  
  button[type="submit"] {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  .userDisplay{
    /* centrar al lado derecho y centrado verticalmente */
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 1%;
}

.userDisplay span{
   font-weight: 100;
}

header {
    position: relative; /* Nueva línea */
    z-index: 1; /* Nueva línea */
    background-color: #262626;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  
  .logo h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  .contenido {
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
  }
  
  nav {
    position: absolute; /* Nueva línea */
    z-index: 2; /* Nueva línea */
    top: 0; /* Nueva línea */
    left: -250px; /* Nueva línea */
    width: 250px; /* Nueva línea */
    height: 100%; /* Nueva línea */
    background-color: #262626;
    color: #fff;
    padding: 1rem;
    transition: left 0.3s ease-in-out; /* Nueva línea */
  }
  
  nav.abierto { /* Nueva sección */
    left: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Nueva línea */
    justify-content: center; /* Nueva línea */
    height: 100%; /* Nueva línea */
  }
  
  nav li {
    margin: 0.5rem 0;
    cursor: pointer;
  }
  
  nav li:hover {
    text-decoration: underline;
  }